<p>
  detail-view works! {{id}}
</p>

  
<p>Ad from: {{selectedAd.username}}</p>
<img src={{selectedAd.picturename}}  alt="" style="width:70%"> 
<p>Item Description: {{selectedAd.description}}</p>
<p>Item Location: {{selectedAd.city}}, {{selectedAd.country}}</p>

<!-- <app-quote [selectedAddData] = "selectedAddData" [buyerLocation] = "buyerLocation"></app-quote>   -->

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <div formGroupName="address">
      <h3>Get shipment estimates for your Locataion:</h3>
    
      <label>
        Street:
        <input type="text" formControlName="road">
      </label>
    
      <label>
        House Number:
        <input type="text" formControlName="house_number">
      </label>
      
      <label>
        City:
        <input type="text" formControlName="city">
      </label>
    
      <label>
        Postal Code:
        <input type="text" formControlName="postcode">
      </label>
  
      <label>
        Country:
        <input type="text" formControlName="country">
      </label>
  
      <button type="submit" [disabled]="!profileForm.valid">Submit the Address</button>
    
    </div>
  </form>
  
  <h5> Here are some shipping options for following package: </h5>
  <h6>weight: {{quoteData.data.rates[0].charge_weight.value}} {{quoteData.data.rates[0].charge_weight.unit}}</h6>
  <h6>to: {{buyerLocation.city}}, {{buyerLocation.country}}</h6> 
  
  <div *ngFor="let shipment of quoteData.data.rates">
    <h5>{{shipment.total_charge.amount}} {{shipment.total_charge.currency}} /
    by: {{shipment.shipper_account.slug}} /
    via: {{shipment.service_name}}
    </h5> 
  </div>
  


