<mat-card class="ad-card">
  <mat-card-header routerLink="/{{ad._id}}" routerLinkActive="active">
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>{{ ad.title }}</mat-card-title>
    <mat-card-subtitle>{{ ad.price }} Euros </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    routerLink="/{{ad._id}}"
    routerLinkActive="active"
    src="{{ad.pictureURL}}"
  />

  <mat-card-actions>
    <button
      class="details"
      mat-button
      routerLink="/{{ad._id}}"
      routerLinkActive="active"
    >
      DETAILS
    </button>

    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>
