.mat-card,
.ad-card {
  max-width: 400px;
  background-color: lightgray;
}

.mat-card-title {
  color: #464646;
}

.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-header {
  align-items: center;
  padding: 5px;
}
.mat-button .details {
  justify-self: center;
}
