<!--
  <mat-form-field class="search-form">
    <input matInput placeholder="Search Picture" type="text" />
  </mat-form-field>
  <button button="submit" mat-raised-button color="primary">Search</button> <br />
-->

<mat-card class="ad-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>{{ ad.title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ad.picturename}}" />

  <mat-card-actions>
    <button mat-button>LIKE</button> <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<!--
  <div class="list">
  <div
    class="item"
    [routerLink]="['/details', ad.date]"
    routerLinkActive="active"
  >
    <img
      src="{{ad.picturename}}"
      alt=""
      style="width:100px; border-radius: 10px"
      class="pic"
    />
-->
<!-- <div class="date">added on: {{ad.date}}</div> -->
<!--
  <div class="title">{{ ad.title }}</div>
      <div class="city">{{ ad.city }}</div>
      <div class="price">{{ ad.price }} €</div>
    </div>
  </div>
-->
