<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="item">
      <ng-template matStepLabel>Item Details</ng-template>
      <mat-form-field>
        <input formControlName="title" matInput placeholder="Title" required />
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description" required></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Price €" formControlName="price" type="number" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="pictures">
      <ng-template matStepLabel>Picture</ng-template>
      <app-picture-upload (uploaded)="onImageUpload($event)"></app-picture-upload>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="location" optional>
      <ng-template matStepLabel>Item Location</ng-template>
      <mat-form-field>
        <input formControlName="country" matInput placeholder="Country" />
      </mat-form-field>
      <mat-form-field>
        <input formControlName="city" matInput placeholder="City" />
      </mat-form-field>
      <mat-form-field>
        <input formControlName="postcode" matInput placeholder="Postcode" />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="packaging" optional>
      <ng-template matStepLabel>Packaging Details</ng-template>
      <mat-form-field>
        <input formControlName="length" matInput placeholder="Length" />
        <mat-hint>in cm</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="width" matInput placeholder="Width" />
        <mat-hint>in cm</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="height" matInput placeholder="Height" />
        <mat-hint>in cm</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="weight" matInput placeholder="Weight" />
        <mat-hint>in cm</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button type="submit">Submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
