<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <!-- <mat-vertical-stepper [linear]="isLinear" #stepper> -->
  <!-- <mat-step [stepControl]="firstFormGroupStep"> -->
  <form [formGroup]="firstFormGroup">
    <ng-template matStepLabel>Item Details</ng-template>
    <mat-form-field>
      <input formControlName="title" matInput placeholder="Title" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Price €"
        formControlName="firstCtrl"
        required
      />
    </mat-form-field>

    <label>
      <img
        src="{{profileForm.value.itemDetails.pictureName}}"
        style="width:100px; border-radius: 10%"
      />
      <input
        class="submitAA"
        (change)="upload()"
        type="file"
        ng2FileSelect
        [uploader]="uploader"
        accept="image/*;capture=camera"
      />
    </label>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        formControlName="firstCtrl"
        required
      ></textarea>
    </mat-form-field>
    <!-- <div><button mat-button matStepperNext>Next</button></div> -->
  </form>
  <!-- </mat-step> -->

  <!--
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Packaging Details</ng-template>

        <mat-form-field>
          <input formControlName="length" matInput placeholder="Length (cm)" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Widgth (cm)" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="height (cm)" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Weight (kg)" />
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Item Location</ng-template>

        <mat-form-field>
          <input matInput placeholder="House Number" />
        </mat-form-field>
        <mat-form-field>
          <input formControlName="street" matInput placeholder="Street" />
        </mat-form-field>
        <mat-form-field> <input matInput placeholder="City" /> </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Postcode" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Country" />
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now ready to post your Ad
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button type="submit">Submit</button>
      </div>
    </mat-step>
  -->
  <!-- </mat-vertical-stepper> -->
</form>
