.create-container {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

.create-container > * {
  width: 100%;
}

i {
  margin: 15px;
}

.detail-view {
  display: flex;
  flex-direction: column;
}
