form {
    font-size: 19px;
}

.description {
    width: 100%;
    height: 3em;
}

.submitA {
    margin-top: 5px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    color: azure;
    border-radius: 10px;
    background-color: aqua;
    border: 1px solid aqua;
    font-weight: 700;
    font-weight: 700;
    width: 50%
}

.submitAA {
    margin-top: 5px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: aqua;
    border-radius: 10px;
    background-color: aqua;
    border: 1px solid aqua;
    font-weight: 700;
    font-weight: 700;
    width: 50%
}

.form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.field {
    color: rgb(7, 156, 156);
    font-weight: 500;
    border: 1px solid aqua;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;

}