.nav {
    color: aqua;
    border: 1px solid aqua;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
}

.search {
    flex-grow: 10; /* default 0 */
    display: flex;  
    align-items: center;
}

.home {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: azure;
    border-radius: 10px;
    background-color: aqua;
    border: 1px solid aqua;
    font-weight: 700;

}

.newad {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: azure;
    border-radius: 10px;
    background-color: aqua;
    border: 1px solid aqua;
}

.searchL {
    display: flex;
    color: aqua;
    height: 80%;
    margin:0;
}

.searchC {
    flex-grow: 10;
    display: flex;
    color: rgb(7, 156, 156);
    font-weight: 500;
    border: 1px solid aqua;
    border-radius: 10px;
    text-align: center;

    width: auto;
    height: 100%;
}

