<button routerLink="/" routerLinkActive="active">Home</button>
<form (ngSubmit)="onSubmit()">
  <p>
    <label>
      Search ads:
      <input type="text" [formControl]="search" >
    </label>
  </p>
</form>
<button routerLink="/newad" routerLinkActive="active">Create New Ad</button>
  

<div *ngFor="let ad of adsData">
  <a [routerLink]="['/details', ad.date]"  routerLinkActive="active">
  <h5>
    added on: {{ad.date}}, 
    Ad By {{ad.username}}, 
    <img src={{ad.picturename}}  alt="" style="width:100px"> 
    about: {{ad.description}}
    lat: {{ad.lat}}
    lon: {{ad.lon}}
    country: {{ad.country}}
    city: {{ad.city}} 
    postcode: {{ad.postcode}} 
    postcode: {{ad.road}}
    house nr: {{ad.house_number}}
    length: {{ad.length}} 
    width: {{ad.width}}
    height: {{ad.height}}
    weight: {{ad.weight}}
  </h5> 
</a>
</div>
